# Binaries
*.exe
*.dll
*.so
*.dylib

# OS Defaults
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Data
data/**
!data/
!data/Activities/
!data/Activities/Speed Hiking/
!data/Activities/Speed Hiking/2025-11-15 Liiapeksi-Aegviidu.gpx
!data/Plans/
!data/Plans/Finland/
!data/Plans/Finland/Luirojärven kierros.gpx

.gocache

cache
node_modules

coverage
